@charset "utf-8";

@media screen and (min-width: 721px) {
  html {
      font-size: 75%;
  }
}
@media screen and (max-width: 720px) {
  html {
      font-size: 62.5%;
  }
}
*{
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
}

.layout{
  margin: 0 10% 0 10%;
}

.content_jpg{ /*ヘッダーの写真*/
  position: relative;
  width: 100%;
  height: 400px;
  left: 0px;
}
.content_line{ /*上部タグ部分*/
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0px;
  top: 0px;

  background: #E97575;
}
.content_logo{ /*のっティのロゴ*/
  position: absolute;
  width: 160px;
  height: 160px;
  top: 18px;
  left: 18px;
  border-radius: 100px;
  object-fit: cover; 
}
.content_word{ /*上部bus stop*/
  position: absolute;
  width: 90%;
  height: 251px;
  left: 75px;
  top: 150px;

  font-family: 'impact';
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 213px;

  color: #ffffff;
}


.headline_a{ /*ICTを活用した...*/
  padding: 30px;

  font-family: 'IM FELL French Canon';
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
  line-height: 40px;
  text-align: center;

  color: #EA4E43;
}
.headline_b{ /*ののいちの市民サポート...*/
  width: 99%;

  padding: 0;
  font-size: 20px;
  text-align: center;

  color: #000000;
}


.flex { /*サイトに勧める*/
  display: flex;
  justify-content: center;
  padding: 5%;
}
.flex img { /*のっティ画像*/
  text-align: center;
  max-width: 50%;
}
.flex .right { /*右部分　設定*/
  margin: 0 0 0 10;
  padding: 0;
  font-size: 30;
}
.flex .title { /*右　のっティバスどこは...*/
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 30px;
}
.flex .text {/*のっティ　リンク*/
  margin: 75% 0 0;
  padding: 0;
}


.main{ /*紹介全体定義*/
  display:flex;
}
.main img{ /*紹介内容　画像*/
  max-width: 400px;
  margin:20;
  padding:0;
  overflow:hidden;
  position:relative;
}
.main .right{ /*紹介内容　文字定義*/
  margin:0 0 0;
  padding: 0;
}
.main .title{ /**/
  margin:0;
  padding:0;
  font-weight:bold;
  font-size:40px;
  color: mediumvioletred;
}
.main .text{
  top: 200px;
  margin:0 0 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 1;
}
.day{
  font-size:40px;
  font-weight:bold;
  margin:30;
  text-align:center;
  color: mediumvioletred;
}
.week{/*活動時間*/
  font-size: 30px;
  font-weight: bold;
  margin: 30;
  text-align: center;
}
.form{
  font-size:30px;
  font-weight:bold;
  margin:10;
  text-align:center;
}
.form .url{
  word-break: break-word;
}
.fotter_line{ 
  position: relative;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #E97575;
}
.fotter_word{
  position: absolute;
  margin-bottom: 10px;
  margin-right: 10px;
  right: 0;
  bottom: 0;
 

  font-family: 'impact';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  color: #ffffff;
}
.form{
  font-size: 40px;
  font-weight: bold;
  margin: 30;
}
.form .in_sentence{
  width: 60px;
}
/* 画面全体の設定 */
#loader_wrap {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: wheat;
  
  }
  /* ローディングアニメーションの設定 */
  .loader {
  width: 150px;
  height: 150px;
  background: url("bus-central.png") no-repeat;
  opacity: 0;
  animation: blink 1.5s infinite linear;
  }
  
  @keyframes blink {
  50% {
  opacity: 1;
  }
  }
  
  /* ローディング終了後 */
  .loaded {
  opacity: 0;
  visibility: hidden;
  }