@charset "utf-8";

@media screen and (min-width: 1026px) {
  html {
      font-size:40% ;
  }
}
@media screen and (max-width: 1025px) {
  html {
      font-size: 25%;
  }
}
*{
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
}

.layout{
  margin: 0 10% 0 10%;
}

.content_jpg{ /*ヘッダーの写真*/
  position: relative;
  width: 100%;
  height: 60rem;
  left: 0rem;
}
.content_line{ /*上部タグ部分*/
  position: absolute;
  width: 100%;
  height: 10rem;
  left: 0rem;
  top: 0rem;

  background: #E97575;
}
.content_logo{ /*のっティのロゴ*/
  position: absolute;
  width: 16rem;
  height: 16rem;
  top: 1.8rem;
  left: 1.8rem;
  border-radius: 10rem;
  object-fit: cover; 
}
.content_word{ /*上部bus stop*/
  position: absolute;
  width: 90%;
  height: 25.1rem;
  left: 7.5rem;
  top: 15rem;

  font-family: 'impact';
  font-style: normal;
  font-weight: 400;
  font-size: 10rem;
  line-height: 21.3rem;

  color: #ffffff;
}


.headline_a{ /*ICTを活用した...*/
  padding: 3rem;

  font-family: 'IM FELL French Canon';
  font-style: normal;
  font-weight: 100;
  font-size: 8rem;
  line-height: 8rem;
  text-align: center;

  color: #EA4E43;
}
.headline_b{ /*ののいちの市民サポート...*/
  width: 99%;

  padding: 0;
  font-size: 3rem;
  text-align: center;

  color: #000000;
}


.flex { /*サイトに勧める*/
  display: flex;
  justify-content: center;
  padding: 5%;
}
.flex img { /*のっティ画像*/
  text-align: center;
  max-width: 50%;
}
.flex .right { /*右部分　設定*/
  margin: 0 0 0 10;
  padding: 0;
  font-size: 3rem;
}
.flex .title { /*右　のっティバスどこは...*/
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 3rem;
}
.flex .text {/*のっティ　リンク*/
  margin: 75% 0 0;
  padding: 0;
}


.main{ /*紹介全体定義*/
  display:flex;
}

.right{ /*紹介内容　文字定義*/
  margin:0 0 0;
  padding: 0;
}
.title{ /**/
  margin:0;
  padding:0;
  font-weight:bold;
  font-size:7rem;
  text-decoration: underline;
}
.text{
  top: 20rem;
  margin:0 0 0;
  padding: 0;
  font-size: 6rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 1;
}
.day{
  font-size:7rem;
  font-weight:bold;
  margin:30;
  text-align:center;
  color: mediumvioletred;
}
.week{/*活動時間*/
  font-size: 6rem;
  font-weight: bold;
  margin: 30;
  text-align: center;
}
.form{
  font-size:3rem;
  font-weight:bold;
  margin:10;
  text-align:center;
}
.form .url{
  word-break: break-word;
}
.fotter_line{ 
  position: relative;
  width: 100%;
  height: 8rem;
  left: 0rem;
  top: 0rem;
  background: #E97575;
}
.fotter_word{
  position: absolute;
  margin-bottom: 1rem;
  margin-right: 1rem;
  right: 0;
  bottom: 0;
 

  font-family: 'impact';
  font-style: normal;
  font-weight: 400;
  font-size: 5rem;
  color: #ffffff;
}
.form{
  font-size: 4rem;
  font-weight: bold;
  margin: 30;
}
.form .in_sentence{
  width: 60px;
}
/* 画面全体の設定 */
#loader_wrap {
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: wheat;
  
  }
  /* ローディングアニメーションの設定 */
  .loader {
  width: 15rem;
  height: 15rem;
  background: url("bus-central.png") no-repeat;
  opacity: 0;
  animation: blink 1.5s infinite linear;
  }
  
  @keyframes blink {
  50% {
  opacity: 1;
  }
  }
  
  /* ローディング終了後 */
  .loaded {
  opacity: 0;
  visibility: hidden;
  }
  .app_line{
    height: 60rem;
    background: #E97575aa;
  }
  .mobile-img{
    top:30em;
    left: 20rem; 
    width: 40rem;
    position:absolute;
  }
  .web_line{
    height: 60rem;
    background:skyblue;
  }
.web-img{
    top:30em;
    left: 20rem; 
    width: 40rem;
    position:absolute;
}
.gazou_line{
    height: 60rem;
    background:greenyellow;
    
}
.gazou-img{
    top:30em;
    left: 20rem; 
    width: 40rem;
    position:absolute;
}
.sensa_line{
    height: 60rem;
    background:purple;
}
.sensa-img{
  top:30em;
  left: 20rem;
  width: 40rem;
  position:absolute;
}
.appbotan{
  te;
  margin-top:40%;
  width: 30rem;
  padding: 5rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.grid2{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
